.mainContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  font-size: 64px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.resultContainer,
.historyItem {
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}

.inputField {
  width: 300px; /* Adjust width as needed */
  padding: 10px; /* Add padding for better spacing */
  margin-bottom: 10px; /* Add margin to separate input fields */
}

.specialButton {
  align-items: center;
  width: 260px; /* Ensure the width is equal to the height */
  height: 260px; /* This is already set */
  border-radius: 50%; /* This makes the button round */
  background-color: #6879D0;
  color: #FCF7E5; /* Example text color */
  border: none; /* Remove default border */
  cursor: pointer; /* Change cursor to pointer */
  font-size: 1.5em; /* Example font size */
  box-shadow: 2px 2px 4px rgba(0, 0, 30, 0.2);
}

.newButton {
  display: flex;
  justify-content: center; /* Horizontally center the button */
  align-items: center; /* Vertically center the button */
  height: 100vh; /* Adjust the height as needed */
}

.userName {
  text-align: center;
}
